In [49]:
import pandas as pd
df = pd.read_csv('mybucketlist_all2.csv', encoding='CP949')
df.head()

                                           title category
0           러시아의 북극해 소도시, 'Teriberka'에서 오로라 관측하기      대자연
1                 지구의 모래 지평선, '사하라 사막'에서 별 사진 찍기      대자연
2  알프스 산맥 고속 열차, 'Glacier Express'에서 스위스 풍경 감상하기      대자연
3                         알프스산맥의 상징, '마터호른' 감상하기      대자연
4                   원주민 마을의 자연 절경, '하바슈 폭포' 감상하기      대자연

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18603 entries, 0 to 18602
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     18603 non-null  object
 1   category  18603 non-null  object
dtypes: object(2)
memory usage: 290.8+ KB

In [51]:
df.describe()

                                      title category
count                                 18603    18603
unique                                 9436        9
top     지갑 속 돈의 이야기를 들을 수 있는 한국은행 화폐박물관 가보기       여행
freq                                      4     6025

In [52]:
df = df.drop_duplicates()

In [53]:
df = df.reset_index(drop=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9437 entries, 0 to 9436
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     9437 non-null   object
 1   category  9437 non-null   object
dtypes: object(2)
memory usage: 147.6+ KB

In [56]:
df.to_csv('mybucketlist_drop_duplicate.csv', encoding='cp949', index=False)

In [60]:
new_df = pd.read_csv('mybucketlist_drop_duplicate.csv', encoding='utf-8')
new_df.head()

                                           title category
0           러시아의 북극해 소도시, 'Teriberka'에서 오로라 관측하기      대자연
1                 지구의 모래 지평선, '사하라 사막'에서 별 사진 찍기      대자연
2  알프스 산맥 고속 열차, 'Glacier Express'에서 스위스 풍경 감상하기      대자연
3                         알프스산맥의 상징, '마터호른' 감상하기      대자연
4                   원주민 마을의 자연 절경, '하바슈 폭포' 감상하기      대자연

In [61]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9437 entries, 0 to 9436
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     9437 non-null   object
 1   category  9437 non-null   object
dtypes: object(2)
memory usage: 147.6+ KB

In [62]:
new_df.describe()

                                      title category
count                                  9437     9437
unique                                 9436        9
top     지갑 속 돈의 이야기를 들을 수 있는 한국은행 화폐박물관 가보기       여행
freq                                      2     3020

In [63]:
new_df.drop_duplicates()

                                              title category
0              러시아의 북극해 소도시, 'Teriberka'에서 오로라 관측하기      대자연
1                    지구의 모래 지평선, '사하라 사막'에서 별 사진 찍기      대자연
2     알프스 산맥 고속 열차, 'Glacier Express'에서 스위스 풍경 감상하기      대자연
3                            알프스산맥의 상징, '마터호른' 감상하기      대자연
4                      원주민 마을의 자연 절경, '하바슈 폭포' 감상하기      대자연
...                                             ...      ...
9432               수천 년 역사의 태평양 섬, '하와이'에서 우쿨렐레 배우기     자기계발
9433                  향기를 공부하는 학교, '이집카'에서 조향사 교육받기     자기계발
9434                          스페셜티 커피협회에서 커피 세계 배우기     자기계발
9435                      초콜릿 장인의 요리 학교에서 디저트 만들어보기     자기계발
9436        손끝으로 새긴 나만의 패턴, '자수하는으녕씨'에서 프랑스 자수 체험하기     자기계발

[9437 rows x 2 columns]

In [64]:
groups = df.groupby(df['category'])

In [65]:
groups.size()

category
대자연      874
문화예술    2436
쇼핑       266
스포츠      124
아웃도어    1136
여행      3020
일상      1011
자기계발      93
푸드       477
dtype: int64