In [15]:
import pandas as pd
df = pd.read_excel('survey_edit2.xlsx')
df.head()

  category         title
0      대자연  등산하고 경치 구경하기
1       일상      하루종일 잠자기
2       일상      여자친구 사귀기
3       여행          세계일주
4     자기계발       일본어 배우기

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  397 non-null    object
 1   title     397 non-null    object
dtypes: object(2)
memory usage: 6.3+ KB

In [17]:
df.describe()

       category   title
count       397     397
unique        9     384
top          여행  스카이다이빙
freq         95       4

In [18]:
df = df.drop_duplicates()

In [19]:
df['category'].drop_duplicates()

0       대자연
1        일상
3        여행
4      자기계발
7       스포츠
10     문화예술
22       푸드
23     아웃도어
118      쇼핑
Name: category, dtype: object

In [21]:
df.to_csv('survey_final.csv', encoding='cp949', index=False)